Import libraries

In [130]:
import pandas as pd
import seaborn as sns

from sklearn.ensemble import RandomForestClassifier
from sklearn.impute import KNNImputer
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import KFold, cross_val_score
from sklearn.naive_bayes import GaussianNB
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import LabelEncoder, StandardScaler
from sklearn.tree import DecisionTreeClassifier

Load the training and testing set

In [131]:
training_set  = pd.read_csv("dataset/train.csv")
testing_set = pd.read_csv("dataset/test.csv")

In [132]:
training_set.head(10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [133]:
training_set.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [134]:
training_set.groupby('Embarked').size()

Embarked
C    168
Q     77
S    644
dtype: int64

In [135]:
training_set['Embarked'].fillna('S', inplace=True)

In [136]:
imputer = KNNImputer(n_neighbors=3)
training_set['Age'] = imputer.fit_transform(training_set[['Age']]).ravel()
training_set.isnull().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         0
dtype: int64

In [137]:
training_set_copy = training_set.drop(['PassengerId', 'Name', 'Cabin', 'Ticket'], axis=1)

In [138]:
training_set_copy.isnull().sum()

Survived    0
Pclass      0
Sex         0
Age         0
SibSp       0
Parch       0
Fare        0
Embarked    0
dtype: int64

In [139]:
training_set_copy.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [140]:
label_encoder = LabelEncoder()
training_set_copy['Sex'] = label_encoder.fit_transform(training_set_copy['Sex'])
training_set_copy['Embarked'] = label_encoder.fit_transform(training_set_copy['Embarked'])
training_set_copy.head(10)

   Survived  Pclass  Sex        Age  SibSp  Parch     Fare  Embarked
0         0       3    1  22.000000      1      0   7.2500         2
1         1       1    0  38.000000      1      0  71.2833         0
2         1       3    0  26.000000      0      0   7.9250         2
3         1       1    0  35.000000      1      0  53.1000         2
4         0       3    1  35.000000      0      0   8.0500         2
5         0       3    1  29.699118      0      0   8.4583         1
6         0       1    1  54.000000      0      0  51.8625         2
7         0       3    1   2.000000      3      1  21.0750         2
8         1       3    0  27.000000      0      2  11.1333         2
9         1       2    0  14.000000      1      0  30.0708         0

In [141]:
X_train = training_set_copy.iloc[:, 1:]
y_train = training_set_copy.iloc[:, :1]

In [142]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)

In [143]:
models = []
models.append(('Logistic Regression', LogisticRegression()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('Naive Bayesian', GaussianNB()))
models.append(('Support Vector Machine', SVC()))
models.append(('Decision Tree', DecisionTreeClassifier()))
models.append(('Random Forest', RandomForestClassifier()))

results = []
names = []
scoring = 'accuracy'
for name, model in models:
    kfold = KFold(n_splits=10)
    cv_results = cross_val_score(model, X_train, y_train.values.ravel(), cv=kfold, scoring=scoring)
    results.append(cv_results)
    names.append(name)
    print(f"{name}: {cv_results.mean()}, {cv_results.std()}")

Logistic Regression: 0.7923845193508116, 0.028838951310861404
KNN: 0.7980149812734082, 0.03230195404807305
Naive Bayesian: 0.7890511860174783, 0.022892720366217426
Support Vector Machine: 0.8260799001248438, 0.043670492287654
Decision Tree: 0.7744319600499376, 0.03256971563553844
Random Forest: 0.8092883895131087, 0.041486497647037324

## Fine Tuning